<div class="categories">
    <button type="button" class="btn btn-outline-primary" disabled>Primary button</button>
    <div class="cat"></div>
    <div class="cat"></div>
    <div class="cat"></div>
    <div class="cat"></div>
    <div class="cat"></div>
  </div>