<footer class="mt-auto">
  <div class="f-info">
    <div class="f-socials">
      <a href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook"></i></a>
      <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://twitter.com/"><i class="fa-brands fa-x-twitter"></i></a>
    </div>
    <div class="f-brand">flashNews &copy; 2024</div>
    <div class="f-info-links">
      <a href="/index">Privacy Policy</a>
      <a href="/index">Terms & Conditions</a>
      <a href="/index">Contact Us</a>
    </div>
  </div>
</footer>
