<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand me-auto" href="/index"><i class="fa-solid fa-bolt fa-shake" style="color: #FFD43B;"></i>
      flashNews</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" 7
      aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" href="index">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/index" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Explore
            </a>
            <ul class="dropdown-menu">
              <li><a class="nav-link" href="/sports">Sports</a></li>
              <li><a class="nav-link" href="/technology">Technology</a></li>
              <li><a class="nav-link" href="/entertainment">Entertainment</a></li>
              <li><a class="nav-link" href="/business">Buisness</a></li>
              <li><a class="nav-link" href="/health">Health</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/owner">Owner</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/more">More</a>
          </li>
        </ul>
        <!-- Dark-Mode Switch -->
        <div >
          <label id="dark-mode"></label>
        </div>
      </div>
    </div>
  </div>
</nav>