<% layout('./layouts/boilerplate') -%>

    <body>
        <div class="p-5 text-center navbar-expand-lg rounded-3">
            <div class="h1"><i class="fa-solid fa-bolt fa-shake" style="color: #FFD43B;"></i></i></div>
            <h1 class="text-body-emphasis">flashNews</h1>
            <p class="col-lg-8 mx-auto fs-5 text-muted">
                <code><b>flashNews</b> is a news website and mobile application.
            It was founded by <i>Ayank Dev</i>. He also is the developer of <b>flashNews</b>. flashNews provides instant news and current affairs all around the world.
            This is the first version of flashNews, it is still under development. 
          </code>
            </p>
            <div class="d-inline-flex gap-2 mb-5">
                <a href="/owner"><button class="btn-1 d-inline-flex align-items-center btn btn-lg px-4 rounded-pill" type="button"
                    >
                    Our Founder
                </button></a>
                <a href="/more"><button class="btn-2 btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button" href="/more">
                    Premium Plans
                </button></a>
            </div>
        </div>
    </body>