<% layout('./layouts/boilerplate') -%>

<body>
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">Pricing</h1>
    <p class="fs-5 text-body-secondary">
      For people who want to stay updated with the latest news and updates from
      all over the world in one place this is it. <br />
      But if you are frustated with the adds and pop-ups we have you covered
      with our premium plans that are perfect for you and costs you no more than
      a coffee.
    </p>
  </div>
  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="p1">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Free</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">
                ₹0<small class="text-body-secondary fw-light">/mo</small>
              </h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>1 user included</li>
                <li class="text-muted">Email support</li>
                <li class="text-muted">Help center access</li>
              </ul>
              <button
                type="button"
                class="p-btn-1 w-100 btn btn-lg btn-outline-primary"
              >
                Sign up for free
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="p1">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Premium</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">
                ₹800<small class="text-body-secondary fw-light">/mo</small>
              </h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>8 users included</li>
                <li>Priority email support</li>
                <li>Help center access</li>
              </ul>
              <button
                type="button"
                class="p-btn-2 w-100 btn btn-lg btn-primary"
              >
                Get started
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="p2">
          <div class="card mb-4 rounded-3 shadow-sm c-header-out">
            <div class="card-header py-3 c-header-in">
              <h4 class="my-0 fw-normal">Premium+</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">
                ₹999<small class="text-body-secondary fw-light">/mo</small>
              </h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>10 users included</li>
                <li>Phone and email support</li>
                <li>Help center access</li>
                <li><b>3 min Early access to news and updates</b></li>
                <li><b>Early access of new features</b></li>
                <li><b>Early access future versions</b></li>
              </ul>
              <button
                type="button"
                class="p-btn-2 w-100 btn btn-lg btn-primary"
              >
                Contact us
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
