<% layout('./layouts/boilerplate') -%>
<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center">
  <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
    <h1 class="display-4 fw-bold lh-1 text-body-emphasis">
      <code>Ayank Dev</code>
      <h6>(Owner, C.E.O., Founder and Developer)</h6>
    </h1>
    <p class="lead">
      <br />
      Hi, I am Ayank. I am the owner of <code>flashNews</code> also I am the
      founder, C.E.O. and developer of <code>flashNews</code>. <br />
      <code>flashNews</code> is a brain-child of mine which I made as a personal
      project while I was learning full stack development. I'm a B.C.A. Graduate
      from Lucknow University. It is my curosity that led me to create
      <code>flashNews</code> as I am still learning and personally find it very
      intriging to create unique and interesting projects.
    </p>
  </div>
  <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden">
    <img
      class="rounded-lg-3 dp"
      src="https://i.ibb.co/p26JDTc/owner.jpg"
      alt=""
      width="720"
    />
  </div>
</div>
